@charset "utf-8";

.container {
    width: min(100% - 30px, 1080px );
    margin-inline: auto;
}

:root {
    --primary-color: #821109;
    --primary-dark: #610802;
}

body {
    background-color: #060407;
}

.flex{
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.gap-16 {
    gap: 16px;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.gap-24 {
    gap: 24px;
}

h1, p, a {
    color: #fff;
}

.nav-list nav ul li a{
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: var(--primary-color);
        transition: color 0.25s ease-in-out;
    }
}

header {
    background-color: rgb(0 0 0 / 5%);
    height: 60px;

    h1 {
        line-height: 60px;
        font-size: 2rem;
        text-transform: uppercase;
    }
}

button {
    padding: 12px;
    border-radius: 4px;
    width: 150px;
    font-size: 1.6rem;
    font-weight: 500;
}

.primary {
    background-color: var(--primary-color);
    color: #fff;

    &:hover {
        background-color: var(--primary-dark);
        transition: background-color 0.25s ease-in-out;
    }
}

.secondary {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

    &:hover {
        background-color: rgb(255 255 255 / 2%);
        transition: background-color 0.25s ease-in-out;
    }
}

.hero-section {
    height: 600px;
    background: #000 url(../img/new-bg.jpg) center center / cover no-repeat;

    h2 {
        font-size: 6rem;
        font-weight: 800;
        background: linear-gradient(90deg, #770800, #a30e03, #F7B2A0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    p {
        font-size: 1.8rem;
        margin-top: 8px;
    }

    h2, p {
        text-align: center;
    }
}

.button-container {
    margin-top: 32px;
}

.movie-list {
    margin: 40px 0;
    display: flex;
    grid-template-rows: repeat(4, 350px);
    grid-gap: 20px;
    border-radius: 4px;
}

.movie-list img {
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.movie-list img:hover {
    transform: translateY(-4px);
}

.movie-list p {
    padding-top: 5px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.movie-section {
    padding-block: 80px
}

footer {
    height: 60px;
    background-color: #343232;
    
    p {
        line-height: 60px;
        text-align: center;
    }
}


